<%- include('header', { title: 'Car Details' }) %>
    <h2>Car: <%= car.make %>
            <%= car.model %>
    </h2>

    <p>Year: <%= car.year %>
    </p>
    <p>Owner: <%= car.owner_name %>
    </p>

    <%- include('footer') %>